
p {
    color: "#58D3F7";
	font-family: "Times New Roman", Times, serif;
    font-size: 40px;
	
} 
html { 
  background: url(menubg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
	color: "#58D3F7";
	font-family: "Times New Roman", Times, serif;
    font-size: 40px;
}
#home_font { 
	font-family: "Times New Roman", Times, serif;
	line-height: 50px;
	font-size:140%;
	color: #58D3F7;
}
#start_menu   {
	width:200px;
	display:block;
	border: 1px solid #999;
	height: 35px;
	padding:5px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	border-radius:0em;
	-moz-border-radius:0em;
	-webkit-border-radius:0em;
}
input.button {
	padding:0px;
	width:205px;
	height: 40px;

	background:#FF8000;
	color:#FFFFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	/*font-style: italic;
	line-height: 22px;
	font-weight: bold;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1p solid #999;*/

	border-radius:1em;
	-moz-border-radius:1em;
	-webkit-border-radius:1em;
}
input.button:hover {
	background:#B45F04;
	color:#FFFFF;
}
textarea:focus, input:focus {
	border: 1px solid #09C;
}
table, td, th {
    border: 1px solid green;
}

tr {
    background-color: #FF8000;
    color: ##0B0B3B;
}